:root{
  --unnamed-color-222222: #222222;
}

body{
  font-family: 'Montserrat', sans-serif;
}

*:focus,*:focus-visible{
  outline: none;
}

.img-rounded{
  border-radius: 50%;
}

.subtitle{
  color: var(--unnamed-color-222222);
  font-size: 46px;
  font-weight: normal;
  margin: 0;
}

.subtitle .emphasis{
  font-weight: 600;
}

.text-center{
  text-align: center;
}


/* carousel styles ----------------------------*/

.carousel-actions{
  display: flex;
  justify-content: center;
}

.carousel-actions .action{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 30px #99999933;
  margin: 0 18px;
  display: flex;
  border-radius: 50%;
  border: none;
  width: 60px;
  height: 61px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.carousel-container{
  display: flex;
  overflow-x: auto;
  position: relative;
}

.carousel{
  position: relative;
  width: 100%;
  font-family:  'Poppins', sans-serif;
}

.carousel .item{
  padding: 0 18px;
  height: 100%;
  width: 426px;
}

.rec.rec-item-wrapper {
  height: 100%;
}

/*card styles---------------------------------*/

.card-category{
  display: flex;
  flex-direction: column;
  padding: 25px 25px 0;
  align-items: center;
}

.card-category .card-icon{
  width: 253px;
  height: 253px;
}

.card-category .card-title{
  margin-top: 43px;
  font-size: 29px;
  margin-bottom: 29px;
  text-align: center;
}
.card-category .card-description{
  font-size: 15px;
  margin: 0;
  text-align: center;
}

.card{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 30px #99999933;
border-radius: 8px;
opacity: 1;
height: 100%;
}


@media (max-width:471px){
  .carousel .item{
    width: auto;
  }

  .card-category .card-icon {
    width: 175px;
    height: 175px;
}
}
